/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&family=VT323&display=swap');

/* Layout */
:root {
  --primary: #1aac83;
  --error: #e7195a;
  --bg-color: #f1f1f1;
  --text-color: #333;
}

body {
  background: var(--bg-color);
  margin: 0;
  font-family: "Poppins", sans-serif;
}

header {
  background: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

header .container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header a {
  color: var(--text-color);
  text-decoration: none;
  transition: color 0.3s;
}

header a:hover {
  color: var(--primary);
}

.pages {
  max-width: 1400px;
  padding: 20px;
  margin: 0 auto;
}
